{{#section 'style'}}
<style>
    .page_404 {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        text-align: center;
    }

    .title_404 {
        color: #222222;
        font-size: 12.5rem;
        letter-spacing: 0.1em;
        margin: 0.025em 0;
        text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
        white-space: nowrap;
        font-size: 360px;
    }

    .title_404 > span {
        animation: spooky 2s alternate infinite linear;
        color: #528cce;
        display: inline-block;
    }

    .title_404 > span > i {
        color: #528cce;
    }

    .message_404 {
        color: #222222;
        margin-bottom: 0.4em;
        font-size: 48px;
    }

    .description_404 {
        color: #222222;
        margin-top: 0;
        font-size: 20px;
    }

    .back_page_btn {
        font-size: 20px;
    }

    @keyframes spooky {
        from {
            transform: translatey(0.15em) scaley(0.95);
        }

        to {
            transform: translatey(-0.15em);
        }
    }
</style>
{{/section}}
<div class="page_404">
    <h1 class="title_404">
        4<span><i class="fas fa-ghost"></i></span>3
    </h1>
    <h2 class="message_404">Error: 403 Forbidden</h2>
    <p class="description_404">
        Sorry, you have to be <strong>PREMIUM</strong> to read this article.
    </p>
    <a
        href="{{previousUrl}}"
        role="button"
        class="btn btn-success ps-4 pe-4 pt-2 pb-2 mt-4 back_page_btn"
    >
        <i class="fa-regular fa-hand-point-left"></i>
        Back
    </a>
</div>
