@import 'Variable.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    margin-bottom: 0;
}

.editor-title {
    color: var(--color-gray-text);
    font-size: 40px;
    border-bottom: 2px solid var(--color-red-primary);
    display: inline-block;
}

.editor-container-header {
    list-style-type: none;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.editor-container-header::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome/Safari */
}

.editor-container-header li {
    padding: 4px 8px;
    margin-right: 16px;
}

.editor-container-header li a {
    font-size: 20px;
}

.editor-container-header li a:not(.editor-container-header-item-active) {
    color: var(--color-gray-text);
}

.editor-container-header li:last-child {
    margin-right: 0px;
}

.editor-container-header li:hover {
    border-radius: 4px;
    background-color: var(--color-red-link);
}

.editor-container-header li:hover a {
    color: var(--color-white);
    text-decoration: none;
}

.editor-container-header-item-active {
    color: var(--color-red-link);
    border-bottom: 1px solid var(--color-red-link);
    font-style: italic;
    font-weight: bold;
}

.editor-container-body {
    border-top: 2px solid var(--color-black);
}

.editor-container-body-heading {
    font-weight: bold;
    background-color: #ecc9d5;
    padding: 0 8px;
}

.editor-container-body-heading p {
    padding: 8px 0;
}

.editor-container-body-content-item {
    padding: 8px;
    background-color: var(--color-white);
}

.editor-container-body-content-item p {
    padding: 0;
}

.editor-container-body-content-item:nth-child(even) {
    background-color: #ecc9d5;
}

.editor-container-footer {
    margin: 0 auto;
}

.editor-container-footer-paging {
    width: 40px;
    height: 40px;
    background-color: #ecc9d5;
    border-radius: 5px;
    color: var(--color-black);
    margin-right: 8px;
}

.editor-container-footer-paging:last-child {
    margin-right: 0;
}

.editor-container-footer-paging:hover {
    background-color: var(--color-red-link);
    color: var(--color-white);
    text-decoration: none;
}

.page-button {
    font-size: 16px;
}

.editor-option {
    border-bottom: 1px solid var(--color-red-primary);
    padding-bottom: 10px;
}

.editor-option button {
    border: 1px solid var(--color-red-primary);
    min-width: 100px;
    border-radius: 0;
}

.editor-option .editor-decline {
    background-color: var(--color-red-primary);
    color: var(--color-white);
}

.editor-option .editor-decline:hover {
    background-color: var(--color-red-link);
}

.editor-option .editor-accept {
    background-color: var(--color-blue-primary);
    border-color: var(--color-blue-primary);
    color: var(--color-white);
}

.editor-option .editor-accept:hover {
    background-color: color-mix(
        in srgb,
        var(--color-blue-primary) 80%,
        black 20%
    );
}

.editor-option div i {
    font-size: 30px;
}

.editor-option div p {
    font-size: 20px;
    font-weight: 600;
}

.editor-article .badge {
    color: var(--color-red-primary) !important;
    border: 1px solid var(--color-red-primary) !important;
    font-weight: 400;
    min-width: 70px;
}

.image-description {
    margin-top: 16px;
    color: var(--color-gray-subtext);
}

.paragraph {
    text-align: justify;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

#editor-decline-modal h1 {
    color: var(--color-red-primary);
    font-weight: 700;
    font-style: italic;
}

#editor-decline-modal span {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-red-primary);
}

.editor-modal-return {
    background-color: white;
    color: var(--color-red-primary);
    border: 1px solid var(--color-red-primary);
    min-width: 100px;
}

.editor-modal-return:hover {
    background-color: var(--color-red-link);
    color: var(--color-white);
}

.editor-modal-send {
    background-color: var(--color-red-primary);
    color: var(--color-white);
    border: 1px solid var(--color-red-primary);
    min-width: 100px;
}

.editor-modal-send:hover {
    background-color: var(--color-red-link);
    border: 1px solid var(--color-red-link);
    color: var(--color-white);
}

.editor-modal-send:focus {
    background-color: var(--color-red-link);
    color: var(--color-white);
}

#editor-decline-modal textarea {
    resize: none;
}

#editor-decline-modal textarea:focus {
    outline: 2px solid var(--color-red-primary);
    box-shadow: 0 0 4px var(--color-red-primary);
    border: 1px solid var(--color-red-primary);
}

#editor-adjust-modal h1 {
    color: var(--color-red-primary);
    font-weight: 700;
    font-style: italic;
}

#editor-adjust-modal span {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-red-primary);
}

#editor-adjust-modal .badge {
    color: var(--color-red-primary) !important;
    border: 1px solid var(--color-red-primary) !important;
    font-weight: 400;
    min-width: 70px;
}

.editor-add-tag {
    background-color: var(--color-red-primary);
    color: var(--color-white);
    border: 1px solid var(--color-red-primary);
}

.editor-add-tag:hover {
    background-color: var(--color-red-link);
    color: var(--color-white);
}

#editor-adjust-modal .editor-modal-return {
    color: var(--color-blue-primary);
    border: 1px solid var(--color-blue-primary);
}

#editor-adjust-modal .editor-modal-return:hover {
    background-color: var(--color-blue-primary);
    color: var(--color-white);
}

#editor-adjust-modal .editor-modal-send {
    background-color: var(--color-blue-primary);
    color: var(--color-white);
    border: 1px solid var(--color-blue-primary);
}

#editor-adjust-modal .editor-modal-send:hover {
    background-color: color-mix(
        in srgb,
        var(--color-blue-primary) 80%,
        black 20%
    );
    color: var(--color-white);
}

.row-link {
    text-decoration: none;
    color: inherit;
}