@import 'Variable.css';

form .button button {
    width: 100px;
    height: 50px;
}

form.pass .button button {
    width: 200px;
    height: 50px;
}

form.infor .button .cancel {
    background-color: #757575;
    border-color: #757575;
}

form.infor .button .cancel:hover {
    background-color: #595151;
}

form.infor .button .submit {
    background-color: #087cce;
    border-color: #087cce;
}

form.infor .button .submit:hover {
    background-color: #1166a3;
}

form.pass .button .changePass {
    background-color: #9f224e;
    border-color: #9f224e;
}

form.pass .button .changePass:hover {
    background-color: #7c2846;
}

form.pass .button .forgetPass {
    background-color: #087cce;
    border-color: #087cce;
}

form.pass .button .forgetPass:hover {
    background-color: #1166a3;
}

li {
    padding: 10px;
}

/* User Profile */

.premium-status {
    list-style-type: none;
    background-color: var(--color-read-background);
    font-weight: bold;
    font-size: 16px;
    margin-top: 32px;
}
