:root {
  --color-white: #fff;
  --color-black: #000;
  --color-red-link: #9f224e;
  --color-red-primary: #b52759;
  --color-gray-subtext: #757575;
  --color-gray-text: #222222;
  --color-gray-hover: #4f4f4f;
  --color-blue-primary: #087cce;
  --color-gray-border: #e5e5e5;
  --color-read-background: #fcfaf6;
}
