@import "Variable.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-top: 24px;
}

.writer-publish-news-title {
  color: var(--color-gray-text);
  font-size: 40px;
  border-bottom: 2px solid var(--color-red-primary);
  display: inline-block;
}

.writer-publish-news-container {
  margin-top: 24px;
}

.input-title {
  font-size: 20px;
  font-weight: bold;
}

.input-field {
  height: 40px;
  font-size: 16px;
}

.textarea-field {
  font-size: 16px;
  resize: none;
}

/* summernote */

/* Resize toolbar icons */
.note-toolbar .note-btn {
  font-size: 18px;
  /* Adjust toolbar icon size */
  padding: 5px 10px;
}

.note-toolbar i {
  font-size: 18px;
  /* Adjust font-awesome or glyphicon icon size */
}

.note-current-fontname {
  font-size: 18px;
}

.note-dropdown-menu span {
  font-size: 16px;
}

/* Resize font size of the editor contents */
.note-editable {
  min-height: 800px;
}

.note-editable * {
  font-size: 16px;
  line-height: 1.5;
}

.popover-content {
  font-size: 16px;
}

/* Footer */

.submit-button {
  background-color: var(--color-blue-primary);
  border-radius: 10px;
  color: var(--color-white);
  border: none;
  padding: 8px 24px;
  font-size: 20px;
  font-weight: bold;
}

.back-button {
  border-radius: 10px;
  border: 1px solid var(--color-blue-primary);
  background-color: var(--color-white);
  color: var(--color-blue-primary);
  font-size: 20px;
  font-weight: bold;
  padding: 8px 24px;
  margin-right: 16px;
}

.submit-button:hover,
.back-button:hover {
  opacity: 0.8;
}

/* WRITE HOME PAGE */


.statistics .stat-item {
  width: 250px;
  height: 250px;
  color: #FFFFFF;
}

.statistics .stat-item#completed {
  background-color: #B52759;
}

.statistics .stat-item#waiting {
  background-color: #087CCE;
}

.statistics .stat-item#pending {
  background-color: #FCFAF6;
  color: #222222;
}

.statistics .stat-item#reject {
  background-color: #222222;
}

.statistics .stat-item .stat-label {
  width: 225px;
  border-bottom: 2px solid #FFFFFF;
}

.statistics .stat-item#pending .stat-label {
  border-bottom: 2px solid #222222;
}

form .button button {
  width: 100px;
  height: 50px;
}

form.pass .button button {
  width: 200px;
  height: 50px;
}

form.infor .button .cancel {
  background-color: #757575;
}

form.infor .button .cancel:hover {
  background-color: #595151;
}

form.infor .button .submit {
  background-color: #087CCE;
}

form.infor .button .submit:hover {
  background-color: #1166a3;
}

form.pass .button .changePass {
  background-color: #9F224E;
}

form.pass .button .changePass:hover {
  background-color: #7c2846;
}

form.pass .button .forgetPass {
  background-color: #087CCE;
}

form.pass .button .forgetPass:hover {
  background-color: #1166a3;
}