<div class="row d-flex justify-content-center mt-5">
    <div class="col col-lg-12 col-md-12 col-sm-12 mb-4">
        <h1 class="writer-publish-news-title">Đăng bài viết mới</h1>
    </div>
    <form action="" method="POST" class="writer-publish-news-container col col-lg-12 col-md-12 col-sm-12"
        enctype="multipart/form-data">
        <div class="mb-4">
            <label for="title" class="form-label input-title">Nhập tiêu đề</label>
            <input type="text" class="form-control input-field" id="title" name="title" />
        </div>
        <div class="mb-4">
            <label for="abstract" class="form-label input-title">Nhập tóm tắt nội dung</label>
            <textarea class="form-control textarea-field" id="abstract" rows="10" name="abstract"></textarea>
        </div>
        <div class="mb-4">
            <label for="backgroundImageArticle" class="form-label input-title">Ảnh đại diện bài viết</label>
            <input type="file" accept="image/*" multiple="false" class="form-control textarea-field"
                id="backgroundImageArticle" rows="10" />
            <input type="text" style="display: none;" id="backgroundImageArticleBase64" name="backgroundImageArticle">
            </input>
        </div>

        <div class="mb-4">
            <p class="input-title">Nhập nội dung</p>
            <textarea id="summernote" name="content"></textarea>
        </div>
        <div class="mb-4">
            <label for="category" class="form-label input-title">Nhập chuyên mục</label>
            <input type="text" class="form-control input-field" id="category" name="category" />
        </div>
        <div class="mb-4">
            <label for="title" class="form-label input-title">Nhập Tags</label>
            <input type="text" class="form-control input-field" id="title" name="tags" />
        </div>
        <div class="mb-4 w-100 d-flex align-center justify-content-between">
            <p class="input-title">Bài báo Premium</p>
            <label class="switch">
                <input type="checkbox" name="isPremium" />
                <span class="slider round"></span>
            </label>
        </div>
        <div class="writer-publish-news-footer d-flex justify-content-end w-100">
            <button type="submit" formaction="#" class="submit-button">
                Đăng
            </button>
        </div>
    </form>
</div>
{{#section 'script'}}
<script>
    $("#backgroundImageArticle").fileinput({
        maxFileCount: 1,
        showUpload: false,
        previewFileType: 'image',
        allowedFileTypes: ['image']
    });

    $("#backgroundImageArticle").on("fileloaded", function (event, file) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $("#backgroundImageArticleBase64").val(e.target.result);
        };

        reader.readAsDataURL(file);
    });

    // Optional: Reset the hidden input when the file input is cleared
    $("#backgroundImageArticle").on("fileclear", function () {
        $("#backgroundImageArticleBase64").val("");
    });
</script>
{{/section}}