<div class="row d-flex justify-content-center mb-4">
  <div class="wrapper col col-lg-12 col-md-12 col-sm-12">
    <h1 class="writer-publish-news-title">Đăng bài viết mới</h1>
  </div>
  <form
    id="writer-publish-news-form"
    action=""
    method="POST"
    class="writer-publish-news-container col col-lg-12 col-md-12 col-sm-12"
  >
    <div class="mb-4">
      <label for="title" class="form-label input-title">Nhập tiêu đề</label>
      <input
        type="text"
        class="form-control input-field"
        id="title"
        name="title"
      />
    </div>
    <div class="mb-4">
      <label for="abstract" class="form-label input-title">Nhập tóm tắt nội dung</label>
      <textarea
        class="form-control textarea-field"
        id="abstract"
        rows="10"
        name="abstract"
      ></textarea>
    </div>
    <div class="mb-4">
      <p class="input-title">Nhập nội dung</p>
      <div id="summernote"></div>
    </div>
    <div class="mb-4">
      <label for="category" class="form-label input-title">Nhập chuyên mục</label>
      <input
        type="text"
        class="form-control input-field"
        id="category"
        name="category"
      />
    </div>
    <div class="mb-4">
      <label for="title" class="form-label input-title">Nhập Tags</label>
      <input
        type="text"
        class="form-control input-field"
        id="title"
        name="tags"
      />
    </div>
    <div class="mb-4 w-100 d-flex align-center justify-content-between">
      <p class="input-title">Bài báo Premium</p>
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>
    <div class="writer-publish-news-footer d-flex justify-content-end w-100">
      <button type="submit" formaction="#" class="submit-button">Đăng</button>
    </div>
  </form>
</div>