<div class="row d-flex justify-content-center mt-5">
    <div class="wrapper col col-lg-12 col-md-12 col-sm-12 mb-4">
        <h1 class="writer-publish-news-title">Hiệu chỉnh bài viết</h1>
    </div>
    <form
        action=""
        method="POST"
        class="writer-publish-news-container col col-lg-12 col-md-12 col-sm-12"
    >
        <div class="mb-4">
            <label for="title" class="form-label input-title"
                >Nhập tiêu đề</label
            >
            <input
                type="text"
                class="form-control input-field"
                id="title"
                name="title"
            />
        </div>
        <div class="mb-4">
            <label for="abstract" class="form-label input-title"
                >Nhập tóm tắt nội dung</label
            >
            <textarea
                class="form-control textarea-field"
                id="abstract"
                rows="10"
            ></textarea>
        </div>
        <div class="mb-4">
            <label for="backgroundImageArticle" class="form-label input-title"
                >Ảnh đại diện bài viết</label
            >
            <input
                type="file"
                class="form-control textarea-field"
                id="backgroundImageArticle"
                rows="10"
                name="backgroundImage"
            />
            <div class="d-flex justify-content-center">
                {{!-- When updating an article, by default, there will be an
                available cover image here! --}}
                <img
                    id="preview"
                    alt="Image Preview"
                    class="w-50 mt-4"
                    src="/logo.jpg"
                />
            </div>
        </div>
        <div class="mb-4">
            <p class="input-title">Nhập nội dung</p>
            <div id="summernote">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
                laudantium distinctio neque aliquam sint animi illum ullam
                repudiandae ipsa? Odio nesciunt ratione, nam vitae omnis
                dolorum. Ab incidunt officiis pariatur?
            </div>
        </div>
        <div class="mb-4">
            <label for="category" class="form-label input-title"
                >Nhập chuyên mục</label
            >
            <input
                type="text"
                class="form-control input-field"
                id="category"
                name="category"
            />
        </div>
        <div class="mb-4">
            <label for="title" class="form-label input-title">Nhập Tags</label>
            <input
                type="text"
                class="form-control input-field"
                id="title"
                name="title"
            />
        </div>
        <div class="mb-4 w-100 d-flex align-center justify-content-between">
            <p class="input-title">Bài báo Premium</p>
            <label class="switch">
                <input type="checkbox" />
                <span class="slider round"></span>
            </label>
        </div>
        <div
            class="writer-publish-news-footer d-flex justify-content-end w-100"
        >
            <button type="submit" formaction="" class="back-button">
                Quay về
            </button>
            <button type="submit" formaction="" class="submit-button">
                Đăng
            </button>
        </div>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#backgroundImageArticle').on('change', function (event) {
            const file = event.target.files[0]; // Get the selected file
            if (file) {
                const reader = new FileReader();

                // When the file is read, display it as an image
                reader.onload = function (e) {
                    $('#preview')
                        .attr('src', e.target.result) // Set the image source
                        .show(); // Show the image
                };

                reader.readAsDataURL(file); // Read the file as a Data URL
            }
        });
    });
</script>
