<div class="mt-5">
  <div class="title-search-box d-flex align-items-center justify-content-between pb-4"
    style="width: 270px; height: 60px;">
    <div class="fs-2 fw-bold">Kết quả tìm kiếm</div>
  </div>

  <form class="input-group rounded mt-5">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" name="q" value="{{searchValue}}" />
    <button type="submit" class="btn btn1" formaction="">Search</button>
  </form>
  <div class="mt-5">
    {{> Component/News listOfNews=result}}
  </div>

  {{> Component/Paging}}
</div>