<!-- Modal -->
<link rel="stylesheet" href="/css/Authentication.css" />
<div
  class="modal fade"
  id="authenticationModal"
  tabindex="-1"
  aria-labelledby="authenticationModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-lg modal-container-config"
  >
    <div class="modal-content modal-content-config">
      <button
        type="button"
        class="btn-close button-close-modal"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
      <div class="modal-header modal-header-config">
        <div
          class="modal-titles d-flex align-items-center justify-content-between w-100"
        >
          <h1
            class="modal-title fs-5 text-center w-50 modal-header-config-title is-active"
            id="authenticationModalLabel"
            data-target="sign-in-section"
          >Đăng nhập</h1>
          <h1
            class="modal-title fs-5 text-center w-50 modal-header-config-title"
            id="authenticationModalLabel"
            data-target="sign-up-section"
          >Tạo tài khoản</h1>
        </div>
      </div>
      <div id="sign-in-section" class="authentication-section">{{> Authentication/SignIn}}</div>
      <div id="sign-up-section" class="authentication-section d-none">{{> Authentication/SignUp}}</div>
      <div
        class="modal-footer d-flex align-items-center justify-content-center border border-0"
      >
        <p class="footer-text text-center mb-0 w-75">Bạn đăng nhập là đồng ý với
          điều khoản sử dụng và chính sách bảo mật của chúng tôi & được bảo vệ
          bởi reCAPTCHA</p>
      </div>
    </div>
  </div>
</div>
<script src="/js/Authentication.js"></script>