<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header custom-modal-header ">
                <h1 class="modal-title fs-5" style="width:100%; text-align: center;" id="modalLabel">Thêm
                    Tag</h1>
            </div>
            <form method="post">
                <div class="modal-body">
                    <textarea class="form-control" rows="4" name="name" placeholder="Mời nhập tên tag mới"></textarea>
                </div>
                <div class="modal-footer custom-modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="sumbit" class="btn actionBtn" formaction="/admin/tag/add">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>